@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');


.homepage{
    background-color: black;
    overflow-y: scroll;
    overflow-x: hidden;
    margin:0;
}
.vertical-menu{
    width: 240px;
    height: 100%;
    margin-left: 65%;
    margin-right: 45%;
    margin-top: 18%;
    display: inline-block;
}
.vertical-menu #war{
    display: block;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    padding: 16px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.vertical-menu #famine{
    display: block;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    padding: 16px;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.vertical-menu #pollution{
    display: block;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    padding: 16px;
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;
}
.vertical-menu #death{
    display: block;
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    padding: 16px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
.vertical-menu a:visited{
    display: block;
    text-decoration: none;
    color:#c4c4c4;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    padding: 16px;
}
#war:hover{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    box-shadow: inset 130px 0 0 0 #8d1b08;
    color: black;
}
#famine:hover{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    box-shadow: inset 300px 0 0 0 #b7b573;
    color: black;
}
#pollution:hover{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    box-shadow: inset 350px 0 0 0 #dedede;
    color: black;
}
#death:hover{
    text-decoration: none;
    font-family: 'PT Serif', serif;
    font-size: 50px;
    box-shadow: inset 170px 0 0 0 #a1c2e3;
    color: black;
}
.intro{
    height: 100vh;
    background-image: url(images/page1-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
}

.intro-style{
    max-width: 50%;
    height: auto;
    top: 280px;
    left: 200px;
    position: absolute;
    z-index: 1;
}
#left-align{
    max-width: 40vw;
    position: absolute;
    z-index: 2;
}
.history{
    height: 100vh;
    background-image: url(images/page2-bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing: border-box;
}
.center-text{
    font-family:'PT Serif', serif;
    color:#c4c4c4;
    margin: 0;
    padding-right: 380px;
    padding-left: 380px;
    padding-top: 80px;
    font-size: 22px;
    line-height: 28px;
}
.history-style{
    max-width: 50%;
    height: auto;
    position: relative;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
}
#img{
    width: 100%;
    height: 100%;
}
.horizontal-menu a:link{
    float: left;
    padding-top: 40px;
    text-decoration: none;
    color:#c4c4c4;
    font-family: 'PT Serif', serif;
    font-size: 35px;
    width: 20%;
    text-align: center;
    position: relative;
    z-index: 3;
}
.horizontal-menu a:visited{
    float: left;
    padding-top: 40px;
    text-decoration: none;
    color:#c4c4c4;
    font-family: 'PT Serif', serif;
    font-size: 35px;
    width: 20%;
    text-align: center;
    z-index: 3;
}
.horizontal-menu a:hover{
    float: left;
    padding-top: 40px;
    text-decoration: none;
    color:rgb(73, 73, 73);
    font-family: 'PT Serif', serif;
    font-size: 35px;
    width: 20%;
    text-align: center;
    z-index: 3;
}
.war-bg{
    overflow: hidden;
    background-color: black;
    background-image: url(images/fire-and-smoke.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
}

.war-text{
    font-family:'PT Serif', serif;
    color:#c4c4c4;
    margin: 0;
    padding-right: 52%;
    padding-left:10%;
    padding-top: 3%;
    font-size: 24px;
    line-height: 33px; 
}
.wrapper{
    height: 10px;
    padding-top: 20%;
    padding-left: 25%;
    font-size: 21px;
}
.red {
    width: 80px;
    height: 80px;
    background: orangered;
    box-shadow: 0px 0px 10px 5px orangered;
}
.orange {
    left: 10px;
    width: 60px;
    height: 60px;
    background: orange;
    box-shadow: 0px 0px 12px 6px orange;
}
.gold {
    left: 18px;
    width: 45px;
    height: 45px;
    background: gold;
    box-shadow: 0px 0px 9px 4px gold;
}
.blue {
    left: 32px;
    width: 15px;
    height: 15px;
    background: darkblue;
    box-shadow: 0px 0px 15px 10px darkblue;
}
.black {
    left: 20px;
    width: 40px;
    height: 40px;
    bottom: -50px;
    background: black;
    box-shadow: 0px 0px 15px 10px black;
}
.base {
    border-radius: 50%;
    position: absolute;
}
.white {
    left: 22px;
    width: 35px;
    height: 35px;
    background: lightyellow;
    box-shadow: 0px 0px 9px 4px lightyellow;
}
.flame-wrapper {
    position: relative;
    animation: flicker 3ms ease-in infinite;
}
.flame {
    bottom: 0;
    position: absolute;
    border-radius: 50% 0% 50% 50%;
    transform: rotate(-35deg);
}
@keyframes flicker {
    0% {transform: rotate(-0.8deg);}
    20% {transform: rotate(1.2deg) scaleY(1.03);}
    40% {transform: rotate(-0.8deg);}
    60% {transform: rotate(0.8deg);}
    80% {transform: rotate(-0.8deg)scaleY(1);}
    100% {transform: rotate(0.8deg);}
}

.pollution-bg{
    background-color: white;
    background-image: url(images/black-sludge.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
}
.left-text{
    font-family:'PT Serif', serif;
    color:#c4c4c4;
    margin: 0;
    padding-right: 52%;
    padding-left:10%;
    padding-top: 20%;
    font-size: 24px;
    line-height: 33px; 
}
.right-overlay{
    width: 70vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.sparks{
    width: 60vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
.right-title{
    width: 90vw;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 3;
}
.right-character{
    width: 85vw;
    position: absolute;
    bottom: 0;
    right: 0;
}
.right-text{
    font-family:'PT Serif', serif;
    color:#c4c4c4;
    margin: 0;
    padding-left: 51%;
    padding-right: 10%;
    padding-top: 20%;
    font-size: 24px;
    line-height: 33px; 
}
.famine-bg{
    background-color: black;
    background-image: url(images/famine-texture.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
}
.death-bg{
    background-color: black;
    background-image: url(images/under-clouds.png);
    background-repeat: no-repeat;
    background-size:cover;
    margin:0;
}
.mist{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2; 
}
.scales{
    width: 85vw;
    position: absolute;
    bottom: 0;
    left: 0; 
    z-index: 1;
}
.left-character{
    width: 85vw;
    position: absolute;
    bottom: 0;
    left: 0;
}
.left-title{
    width: 90vw;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
}